.header
  margin-bottom 1.45rem
  background rebeccapurple
.container
  display flex
  justify-content space-between
  align-items center
  margin 0 auto
  max-width 960px
  padding 1.45rem 1.0875rem
  h1 a
    text-decoration none
.category
  margin 0
  display flex
  align-items center
  font-size 18px
  height 44px
  color #fff
  li
    margin-bottom 0
    margin-left 20px
    cursor pointer
    a
      color #fff
      text-decoration none